
.s_login{
	width: 350px;
}

.login-container{
	width: 350px;
	background-color:#fff;
	padding: 20px;
	border-radius: 10px;
}

.planta_area{
	position: relative;
}

.white_hightlight{
	stroke:#465623 !important;
	fill:#fff !important;
	opacity: 1 !important;
}

#unidadesPoints{
	transition: all 0.5s ease;
	position: absolute;
	left: 0px;
	top: 0px;
	transform-origin: left top;
	z-index: 99;
}

#unidadesPoints polygon{
	transition: all 1.5s ease;
	opacity: 0.75;
}

#unidadesPoints polygon.hideme{
	transition: all 1.5s ease;
	opacity: 0;
}

#unidadesPoints polygon.sit_livre{
	opacity: 0;
}

#empre_planta{
	transition: all 0.5s ease;
	position: relative;
	left: 0px;
	top: 0px;
	transform-origin: left top;
	z-index: 0;
}

#empre_planta.contraste_mode{
	filter: grayscale(1);
}